.idea/
.redis/
.venv/
__pycache__
.foo/
.vscode
.DS_Store
logs.txt
logs.csv
serverlessbak.yml
mocks/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless